.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 25px;
  border: 3px grey solid;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
}
